<% @user_orders = current_user.orders %>


<h1>Pedidos</h1>

<% if @user_orders.any? %>
  <ul>
    <% @user_orders.each do |order| %>
       <li>
         <%= link_to "Pedido: #{order.id}", order_path(order) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Não há pedidos neste momento.</p>

 <%= link_to "Voltar para a lista de produtos", root_path, class: "btn btn-primary" %>
<% end %>
