<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= cl_image_tag("fqxdeal4t1kxrtgsagtj",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("py7jzosqzgzmjufy8mrq",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
