<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'placeholder_banner.jpg'%>);">
  <div class="container mx-5">
    <h1>Bugigang pra achar os treco daora!</h1>
    <p>Tá afim d vender umas parada manera? Aki eh teu lugar!</p>
    <%= link_to 'Anuncie aqui', new_product_path, class: 'btn btn-warning rounded' %>
  </div>
</div>

